{
    "presets": ["env"]
}

/*
presets:预设
配置的时候需要安装对应的插件 对应babel-preset-xxx 如"babel-preset-env": "^1.7.0"
presets:["env",options]
例子
presets:[
	["env",{
		"modules":fasle,
		// 需要支持的环境 
		"targets":{ 
			"browsers":[">1%, "last 2 versions", "not ie <= 8"] // 
		}
	}],
	"stage-2" // JS提案阶段（0-5 0包含前面的5个）
	
],

plugins:插件

插件和预设摆放顺序的影响
presets按倒叙加载
plugins按正序加载
*/